/*@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
-moz-font-feature-settings: grayscale;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
