@import url(https://fonts.google.com/specimen/PT+Sans?query=PT+&sidebar.open=true&selection.family=PT+Sans:wght@400;700);

html,
body,
#root,
.App,
.body {
  height: 100vh;
}

.heading {
  color: black;
  font-size: 60px;
  font-family: "PT Sans", sans-serif;
  padding-top: 80px;
}

.body {
  background-color: #49beb7;
  color: white;
  justify-content: center;
  display: flex;
  margin: 0 px;
  padding: 0 px;
  font-family: "PT Sans", sans-serif;
}
.form_input {
  width: 100%;
}

/*-------------------LOGIN---------------------*/
.inputTxt {
  font-family: "PT Sans", sans-serif;
  font-size: 20 px;
  line-height: 31 px;

  color: white;
}

/*-------------------NAV---------------------*/
.header {
  background-color: #49beb7;
  width: 100%;
  padding: 20px;
}

.tabs {
  color: white;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  font-size: 28px;
  justify-content: space-evenly;
  padding: 100px;
  text-decoration: none;
  cursor: pointer;
}

.tabs:hover {
  opacity: 0.6;
}

.tabs:active {
  opacity: 0.6;
}

.tabs:focus {
  opacity: 0.6;
}

/*-------------------REFLECT---------------------*/
.wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 25px 25px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  align-items: center;
  width: 150px;
  height: 180px;
}

.title {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 10px;
}

.grid {
  display: grid;
  padding-left: 50px;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-column-gap: 0px;
}

/*-------------------SELF CARE---------------------*/
.activity_grid {
  display: grid;
  padding-left: 50px;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 50px;
  padding-bottom: 30px;
}

.did {
  color: white;
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
}

.did:hover {
  opacity: 0.6;
}
/*-------------------LOGIN & SIGNUP---------------------*/
.inputTxt {
  font-family: "PT Sans", sans-serif;
  font-size: 20 px;
  line-height: 31 px;
  color: white;
  text-align: left;
}

.h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 300 px !important;
  margin: 0;
}

.align {
  max-width: 20rem;
  max-height: 10rem;
}

/*--------------------RATING-------------------*/
.rectangle {
  display: inline-block;
  width: 105px;
  height: 19px;
  background: #49beb7;
  padding: 20px;
  padding-right: 10px;
  padding-top: 20px;
  font-size: 20px;
  justify-content: center;
}

.button {
  color: white;
  border-color: #49beb7;
  font-size: 35px;
  background-color: #49beb7;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.button:hover {
  background-color: #ff5959;
  border-color: #ff5959;
}

.button:focus {
  background-color: #ff5959;
  border-color: #ff5959;
}

.button:active {
  background-color: #ff5959;
  border-color: #ff5959;
}

.button:visited {
  background-color: #ff5959;
  border-color: #ff5959;
}

.rating_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  align-items: center;
  width: 100px;
  height: 20px;
  background-color: #49beb7;
}

.rating_grid {
  display: grid;
  padding-top: 50px;
  padding-left: 350px;
  padding-right: 290px;
  grid-template-columns: auto auto auto auto auto;
}
